//
// Vendor and Fonts
//

@import "vendor/font-awesome/scss/font-awesome.scss";

body.dragging, body.dragging * {
    cursor: move !important;

    ol#selected_pages {
        border: 2px dashed #d4d4d4;
        padding-bottom: 40px;

        li ol {
            padding-bottom: 35px;
            min-width: 100px;
        }
    }
}

ol.simple_with_animation {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    li {
        &.dragged {
            position: absolute;
            opacity: 0.5;
            z-index: 2000;
        }
    }
    ol {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }

    li.placeholder {
        position: relative;
        margin: 0;
        padding: 0;
        border: none;
    }
}

ol#selected_pages {
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    min-height: 100px;
    min-width: 150px;

    padding: 5px;

    > li i {
        margin-right: 5px;
    }

    > li, ol > li {
        border: 1px solid #d4d4d4;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

        margin: 5px 0 0 0;
        padding: 6px;
    }

    li.placeholder {
        border: 2px dashed #d4d4d4;
        min-height: 34px;

        &:before {

            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            color: #d4d4d4;

            content: "\f067";

            position: absolute;
            top: inherit;
            left: inherit;
        }
    }

    li.pages-level-1 {
        li.placeholder {
            margin-left: 20px;
        }
    }

    li.pages-level-2 {
        margin-left: 20px;

        &:before {
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            color: #5F5F5F;
            content: "\f054";

            margin-right: 3px;
        }

        ol {
            display: none;
        }
    }
}